## What is numpy?

> NumPy is a Python library known as "Numerical Python" that provides efficient and powerful tools for working with arrays, mathematical operations, and linear algebra. 
> 
> It is widely used in scientific computing and serves as the foundation for numerous data analysis and machine learning libraries in Python. 
> 
> With its ndarray object, NumPy allows for flexible manipulation of arrays, supports a wide range of mathematical functions, facilitates broadcasting for efficient element-wise operations, offers comprehensive linear algebra capabilities, and integrates seamlessly with other scientific libraries. 
> 
> Its optimized performance and versatility make it an essential tool for numerical computations, data analysis, simulations, and machine learning applications.

[Numpy Documentation](https://numpy.org/doc/stable/user/absolute_beginners.html)

## What is Pandas?

> Pandas is a popular Python library designed for data manipulation and analysis. It provides high-performance, easy-to-use data structures, such as DataFrame, Series, and Index, which enable efficient handling of structured data.
> 
> Pandas excels in data cleaning, preparation, and transformation tasks, making it a go-to tool for data preprocessing. 
> 
> It offers powerful features for indexing, slicing, and filtering data, as well as tools for reshaping, merging, and joining datasets. 
> 
> With Pandas, users can perform various statistical operations, handle missing data, and work with time series data effortlessly. Overall, Pandas is a versatile library that significantly simplifies data manipulation and analysis workflows in Python.

[Pandas Documentation](https://pandas.pydata.org/docs/user_guide/index.html)

---

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd

In [5]:
# create a dataframe
df = pd.DataFrame([[1,2,3,4],[5,6,7,8,],[3,4,7,9]])

In [10]:
df_1 = pd.read_csv("https://tinyurl.com/y63q7okz")

In [ ]:
row_count = df_1.shape[0]
avg_sq_ft = df_1['sq__ft'].mean()
df_zip_95670 =  df_1[df_1['zip'] == 95670]
df_zip_not_95610 = df_1[df_1['zip'] != 95610]

In [11]:
print(row_count, avg_sq_ft)

985 1314.9167512690356

In [12]:
df_1.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [3]:
x = int(input())
y = int(input())
print(x+y)

6

In [4]:
fruits = { 
 'apples':{'cost':3, 'units':100}, 
 'bananas':{'cost':1, 'units':80},
 'grapes':{'cost':5, 'units':500}
}
print(fruits['bananas']['cost'])

1

In [7]:
practice = {'python':100, "r":30, "SQL": 10}
for key, value in practice.items():
       print(key+ " practice has " + str(value) + " items")

python practice has 100 items
r practice has 30 items
SQL practice has 10 items

In [22]:
x = input()
y = int(input())
print(x * y)

123123123123123123123123

In [9]:
def is_odd (x) : return x % 2 == 1

is_odd(1)

True

In [20]:
def is_odd (x) : return x / 2 == 1 
is_odd(1)

False

In [12]:
def is_odd (x) : 
    if x % 2 == 1: return True 
    else: return False
    
is_odd(1)

True

In [13]:
def concatA(a,b):
     return a + b

print(concatA([9, 2, 1], [4, 8, 7]))

[9, 2, 1, 4, 8, 7]

In [19]:
from sklearn.model_selection import train_test_split

In [1]:
years = [year for year in range(2011, 2020)]
print(years)

[2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

In [3]:
def shout_word() :
    shout1 = "congratulations" + "!!!"
    shout2 = "you" + "!!!"
    
    new_shout = shout1 + shout2
    

    return new_shout

In [4]:

print(shout_word())

congratulations!!!you!!!