## DATA SCIENCE SALARIES 2023

### Import Libraries

In [129]:
import kaggle
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [130]:
kaggle.api.authenticate()
kaggle.api.dataset_download_files('arnabchaki/data-science-salaries-2023', path='./', unzip=True)


## Exploratory Data Analysis

In [131]:
salary_df = pd.read_csv("ds_salaries.csv")

In [132]:
salary_df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [152]:
salary_df.info

<bound method DataFrame.info of      experience_level employment_type                 job_title   salary  \
year
2023          Senior        Full Time  Principal Data Scientist    80000
2023           Junior        Contract               ML Engineer    30000
2023           Junior        Contract               ML Engineer    25500
2023          Senior        Full Time            Data Scientist   175000
2023          Senior        Full Time            Data Scientist   120000
...               ...             ...                       ...      ...
2020          Senior        Full Time            Data Scientist   412000
2021           Junior       Full Time  Principal Data Scientist   151000
2020      Entry Level       Full Time            Data Scientist   105000
2020      Entry Level        Contract     Business Data Analyst   100000
2021          Senior        Full Time      Data Science Manager  7000000

     salary_currency  salary_in_usd employee_residence  remote_ratio  \
year
2023             EUR          85847                 ES           100
2023             USD          30000                 US           100
2023             USD          25500                 US           100
2023             USD         175000                 CA           100
2023             USD         120000                 CA           100
...              ...            ...                ...           ...
2020             USD         412000                 US           100
2021             USD         151000                 US           100
2020             USD         105000                 US           100
2020             USD         100000                 US           100
2021             INR          94665                 IN            50

     company_location company_size
year
2023               ES            L
2023               US            S
2023               US            S
2023               CA            M
2023               CA            M
...               ...          ...
2020               US            L
2021               US            L
2020               US            S
2020               US            L
2021               IN            L

[3755 rows x 10 columns]>

In [134]:
salary_df.describe()

         work_year        salary  salary_in_usd  remote_ratio
count  3755.000000  3.755000e+03    3755.000000   3755.000000
mean   2022.373635  1.906956e+05  137570.389880     46.271638
std       0.691448  6.716765e+05   63055.625278     48.589050
min    2020.000000  6.000000e+03    5132.000000      0.000000
25%    2022.000000  1.000000e+05   95000.000000      0.000000
50%    2022.000000  1.380000e+05  135000.000000      0.000000
75%    2023.000000  1.800000e+05  175000.000000    100.000000
max    2023.000000  3.040000e+07  450000.000000    100.000000

In [135]:
# change work year into datetime format
salary_df = salary_df.rename(columns={"work_year" : "year"})

In [136]:
salary_df["year"] = pd.to_datetime(salary_df["year"], format="%Y").dt.year

In [137]:
salary_df = salary_df.set_index("year")

In [139]:
salary_df["experience_level"].unique()

array(['SE', 'MI', 'EN', 'EX'], dtype=object)

SE = Senior
EN = Entry LEvel
MI = Mid Level
EX = Executive / Director

In [140]:
salary_df["employment_type"].value_counts()

FT    3718
PT      17
CT      10
FL      10
Name: employment_type, dtype: int64

In [141]:
# change symbols for better understanding
salary_df["experience_level"] = salary_df["experience_level"].replace("EN", "Entry Level") 
salary_df["experience_level"] = salary_df["experience_level"].replace("MI", "Junior") 
salary_df["experience_level"] = salary_df["experience_level"].replace("SE", "Senior ") 
salary_df["experience_level"] = salary_df["experience_level"].replace("EX", "Executive/Director")

In [142]:
employment_type_dict = {
    "FT" : "Full Time",
    "CT" : "Contract",
    "FL" : "Seasonal",
    "PT" : "Part Time"
}
salary_df["employment_type"] = salary_df["employment_type"].map(employment_type_dict)
salary_df.head()

,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
year,,,,,,,,,,
2023,Senior,Full Time,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
2023,Junior,Contract,ML Engineer,30000,USD,30000,US,100,US,S
2023,Junior,Contract,ML Engineer,25500,USD,25500,US,100,US,S
2023,Senior,Full Time,Data Scientist,175000,USD,175000,CA,100,CA,M
2023,Senior,Full Time,Data Scientist,120000,USD,120000,CA,100,CA,M

## Analysis and Visualizations

1. What is the average salary of data science jobs in a specific geographic location?

In [155]:
salary_per_location = salary_df.groupby("company_location")["salary_in_usd"].agg("mean")


2. What are the most common job titles in the field of data science, and how do their salaries differ?

3. What is the distribution of salaries among entry-level, mid-level, and senior data science positions?

4. How does the size of the company (small, medium, large) impact the salaries of data science professionals?


5. What is the average salary growth rate for data scientists over the past few years?

6. How does the salary of data science managers compare to individual contributors?

7. Are there any regional variations in data science salaries within a country or across different countries?


8. Is there a difference in salaries based on the type of employment (full-time, part-time, contract) in data science?